### Intro
In this task, I am going to scrape the webpage in the `main_page` variable. According to the owner of website, you can choose what turtle you want to adopt on the website, cool!

There is some links in the webiste, so I will also scrape the content in the link. Let's get started!

### First step
Import the require package, and then wrap the syntax taht is commonly used in webscraping into a function (`parse_html`)

In [26]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
def parse_html(link):
    webpage_response = requests.get(link)
    webpage = webpage_response.content
    soup = BeautifulSoup(webpage, "html.parser")
    return soup

### Second Step

Let's inspect the html elements in the webpage. We can see that the webpage has a relatively simple structure.

In [27]:
main_page = parse_html("https://content.codecademy.com/courses/beautifulsoup/shellter.html")
print(main_page)

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<title>Turtle Shellter</title>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
<link href="style.css" rel="stylesheet" type="text/css"/>
<script async="" src="/cdn-cgi/bm/cv/669835187/api.js"></script></head>
<body>
<div class="banner">
<h1>The Shellter</h1>
<span class="brag">The #1 Turtle Adoption website!</span>
</div>
<div class="about">
<p class="text">Click to learn more about each turtle</p>
</div>
<div class="grid">
<div class="box adopt">
<a class="more-info" href="aesop.html"><img class="headshot" src="aesop.png"/></a>
<p>Aesop</p>
</div>
<div class="box adopt">
<a class="more-info" href="caesar.html"><img class="headshot" src="caesar.png"/></a>
<p>Caesar</p>
</div>
<div class="box adopt">
<a class="more-info" href="sulla.html"><img class="headshot" src="sulla.png"/></a>
<p>Sulla</p>
</div>
<div class="box adopt">
<a class="more-info" href="spyro.html"><img class="headshot" src="spyro.png"/></a>
<p>Spyro</p>
</div>
<div class="box adopt">
<a class="more-info" href="zelda.html"><img class="headshot" src="zelda.png"/></a>
<p>Zelda</p>
</div>
<div class="box adopt">
<a class="more-info" href="bandicoot.html"><img class="headshot" src="bandicoot.png"/></a>
<p>Bandicoot</p>
</div>
<div class="box adopt">
<a class="more-info" href="hal.html"><img class="headshot" src="hal.png"/></a>
<p>Hal</p>
</div>
<div class="box adopt">
<a class="more-info" href="mock.html"><img class="headshot" src="mock.png"/></a>
<p>Mock</p>
</div>
<div class="box adopt">
<a class="more-info" href="sparrow.html"><img class="headshot" src="sparrow.png"/></a>
<p>Captain Sparrow</p>
</div>
</div>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6753702a2a2ee77b',m:'4459c453fc95d76b1cf4d3e619fd60ab6f45810e-1627363432-1800-AdI/zDdmDWibbnCmvImjwEVgZPX7GjwyV+Xyu20vUTaHnTdv91oG5KZBk7f7v5KKQMjn+qDq/MVsDr9YNIUb69cShXlcORgoZcmTaUf/pkg7FOTJDhY25Z8irepXzJLm3Rq3hecy5KYDa0KlGUjlVUtPrJ/rCR5VBU13h3Rc/2uW',s:[0x1e4fd4505a,0x46e2f20ea4],}})();</script></body>
</html>

### Third Step
Add the prefix and the `href` attribute in the \<a\> tag together to obtain the links. Then, one can use list comprehension to stuff all the links obtained into a single list.

In [28]:
prefix = "https://content.codecademy.com/courses/beautifulsoup/"
turtle_links = main_page.find_all("a")
links = [prefix+a["href"] for a in turtle_links]
print(links)

['https://content.codecademy.com/courses/beautifulsoup/aesop.html', 'https://content.codecademy.com/courses/beautifulsoup/caesar.html', 'https://content.codecademy.com/courses/beautifulsoup/sulla.html', 'https://content.codecademy.com/courses/beautifulsoup/spyro.html', 'https://content.codecademy.com/courses/beautifulsoup/zelda.html', 'https://content.codecademy.com/courses/beautifulsoup/bandicoot.html', 'https://content.codecademy.com/courses/beautifulsoup/hal.html', 'https://content.codecademy.com/courses/beautifulsoup/mock.html', 'https://content.codecademy.com/courses/beautifulsoup/sparrow.html']

### Fourth Step
Using the link list and the function defined above, we can inspect the html structure in each website. We can agin see that the structure in ecach link is very similar.

In [29]:
for link in links:
    html_code = parse_html(link)
    print(html_code)

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<title>Aesop</title>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
<link href="style.css" rel="stylesheet" type="text/css"/>
<script async="" src="/cdn-cgi/bm/cv/669835187/api.js"></script></head>
<body>
<div class="banner">
<p class="name">Aesop</p>
</div>
<ul>
<li>AGE: 7 Years Old</li>
<li>WEIGHT: 6 lbs</li>
<li>SEX: Female</li>
<li>BREED: African Aquatic Sideneck Turtle</li>
<li>SOURCE: found in Lake Erie</li>
</ul>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'675370481c60f311',m:'a180b99a3e2d5c46c581f99ddebe56cb4f3d4d67-1627363436-1800-AUZ74trbHNYzyJlbRUNSP/5nB+L1NDW/6iZaIhZYjMCI4V1BeOcD6hHy1l4mFVquhC8XeppGxhaxZFk42wfNRG+DsBj2iB6VYHlIYka9tH5PVaFCOAo3Ci0epNJ0szO/mgNRpIny4rvHWUAQFzwoaCp/j+QF85HXd0QDf33x0Jjl',s:[0x64097eee21,0x0a8de5e2e4],}})();</script></body>
</html>

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<title>Caesar</title>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
<link href="style.css" rel="stylesheet" type="text/css"/>
<script async="" src="/cdn-cgi/bm/cv/669835187/api.js"></script></head>
<body>
<div class="banner">
<p class="name">Caesar</p>
</div>
<ul>
<li>AGE: 2 Years Old</li>
<li>WEIGHT: 4 lbs</li>
<li>SEX: Male</li>
<li>BREED: Greek Tortoise</li>
<li>SOURCE: hatched in house</li>
</ul>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'675370495fbb1827',m:'9f2890fdc06437c864ff9c39120c0e0b743119aa-1627363437-1800-AbvB0GS8NZVHc9PSESrw136EDr9JVin54yDNRWifCozjj+1pUKJAIoFbK3OqA55XmZSPRqJd+iK6zoYYVVglfoNLfGqzZIutGRrIMpfKLFrBycLwp/lGBCn2pvjUM30phquAM5PJGC8tBMgcR8Ld0XH1zviq9iaOhRpICqdjcSA9',s:[0x6b722bb1c1,0xdddefb9e22],}})();</script></body>
</html>

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<title>Sulla</title>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
<link href="style.css" rel="stylesheet" type="text/css"/>
<script async="" src="/cdn-cgi/bm/cv/669835187/api.js"></script></head>
<body>
<div class="banner">
<p class="name">Sulla</p>
</div>
<ul>
<li>AGE: 1 Year Old</li>
<li>WEIGHT: 1 lb</li>
<li>SEX: Male</li>
<li>BREED: African Aquatic Sideneck Turtle</li>
<li>SOURCE: found in Lake Erie</li>
</ul>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6753704a5949ec29',m:'b44db4057332b84088c4fff8fd725b3d0d9e271e-1627363437-1800-AUtTjkGp3zfkm/uVugrvSx94vlX+oUdMFT4OJ4lOHODECGitHG2RSeBBVAKu69bzHs//EcOOFjEyflQlUOwqR5U09lRD4QB/kDY3ihUth10KBOuiDAJAfgnHE5LzVBqc5pSCe2mp4zef552JdkZzC01SBZNGBQRS4WQIAE2jNnGG',s:[0xfbc9730e20,0xd9e4d78559],}})();</script></body>
</html>

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<title>Spyro</title>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
<link href="style.css" rel="stylesheet" type="text/css"/>
<script async="" src="/cdn-cgi/bm/cv/669835187/api.js"></script></head>
<body>
<div class="banner">
<p class="name">Spyro</p>
</div>
<ul>
<li>AGE: 6 Years Old</li>
<li>WEIGHT: 3 lbs</li>
<li>SEX: Female</li>
<li>BREED: Greek Tortoise</li>
<li>SOURCE: hatched in house</li>
</ul>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6753704b9cac1029',m:'c14e2146f1a98bb8a08ece6cbe6f7cbac25a074e-1627363437-1800-AT8oT2nQy8aklm2dGr8AswxCEbCo0D0UKjQz0Ae9xnasWAaYmAav7IoNvBdU23xoEP7zzIB2hrtf9m8u/vAOQYl49Ve+jmRPGlhQY5JFoxHc0M1ABf2sZh6nggVVVEII8dPaEDeQvBg09g1T5XFlZ2zxU55URC5tYo23hDvERUAM',s:[0xc30056a420,0x19467e7fcb],}})();</script></body>
</html>

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<title>Zelda</title>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
<link href="style.css" rel="stylesheet" type="text/css"/>
<script async="" src="/cdn-cgi/bm/cv/669835187/api.js"></script></head>
<body>
<div class="banner">
<p class="name">Zelda</p>
</div>
<ul>
<li>AGE: 3 Years Old</li>
<li>WEIGHT: 2 lbs</li>
<li>SEX: Female</li>
<li>BREED: Eastern Box Turtle</li>
<li>SOURCE: surrendered by owner</li>
</ul>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6753704cddbae3ba',m:'5e8f7e7c2d1b7ae0a7a8ae7effe8f02b273ed8c0-1627363437-1800-Ab4+lyoFmzE0hlzyjafzffi+d4OdxQT+LEluNqtlfW+s3ZkKJ+0IXau95Uh9l3vCnMHxXysv5+f3yEhXQaFbgfJJZWLley7zMLYayUfkkAGB0urSzBeQETX6vD82r+56I3i19JEmYzaXqNnwgQkHKl3Q8l1FbcpZuyxSaaCYNnNs',s:[0xf87ea317d9,0xd6616f6efd],}})();</script></body>
</html>

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<title>Bandicoot</title>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
<link href="style.css" rel="stylesheet" type="text/css"/>
<script async="" src="/cdn-cgi/bm/cv/669835187/api.js"></script></head>
<body>
<div class="banner">
<p class="name">Bandicoot</p>
</div>
<ul>
<li>AGE: 2 Years Old</li>
<li>WEIGHT: 2 lbs</li>
<li>SEX: Male</li>
<li>BREED: African Aquatic Sideneck Turtle</li>
<li>SOURCE: hatched in house</li>
</ul>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6753704db9691817',m:'9b10afe6bdbb7b45e88a5062299b1e9fd023fe9a-1627363437-1800-AX74F4qVnhsCNb5tAuUF7FfkMXmBV3w9FmW4xgR2GRwXTMXVrUqg0SQGi+P6cyNC0Z+5yHoX3xSMdk9mVZb5J9wR//ArEblwWcVP/K3dhDDUNGvHBR5ks9jxBWwUn0Ysrhp9AjPNE6NDbAQ+GMYXn+KU2YuvlXhyiVvat6Jb9Xpj',s:[0x786e7d3fbf,0x0a3527b7d8],}})();</script></body>
</html>

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<title>Hal</title>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
<link href="style.css" rel="stylesheet" type="text/css"/>
<script async="" src="/cdn-cgi/bm/cv/669835187/api.js"></script></head>
<body>
<div class="banner">
<p class="name">Hal</p>
</div>
<ul>
<li>AGE: 1 Year Old</li>
<li>WEIGHT: 1.5 lbs</li>
<li>SEX: Female</li>
<li>BREED: Eastern Box Turtle</li>
<li>SOURCE: surrendered by owner</li>
</ul>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6753704eade507de',m:'d32d1e0ed9e56187c1013937a8d5bfef248c0918-1627363437-1800-AW68s98fjVT/VnkA3yNajfGcvyKes7EXuQ+MSR92a5cHxV5WA6wonqyfikJvL+7+3688oYPEO35aNcZKLgzA0S42PYn0NmoQnoxFlGfHgXZoaFGxQizz7JxIBVDRPcj4Sw/aC/CAV2v9Y8mbTBIge4E=',s:[0x2d7139c808,0x2e2e969dab],}})();</script></body>
</html>

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<title>Mock</title>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
<link href="style.css" rel="stylesheet" type="text/css"/>
<script async="" src="/cdn-cgi/bm/cv/669835187/api.js"></script></head>
<body>
<div class="banner">
<p class="name">Mock</p>
</div>
<ul>
<li>AGE: 10 Years Old</li>
<li>WEIGHT: 10 lbs</li>
<li>SEX: Male</li>
<li>BREED: Greek Tortoise</li>
<li>SOURCE: surrendered by owner</li>
</ul>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6753704f99771084',m:'9dc2d8f361efec7a275725698280a888142b57d2-1627363438-1800-ATm2PFSDAENW9C9CElpvaNnybjCM9eeI0ffI122Jg8U45IE5FTvBxeyG+Ayer+w0z/SmV6lxiCDNtjJ0i/9gRh4nk/mAWhoBmpFnFg+O2uiH2gmHDSvaS8lFnv7ribjLImbOq4/M+wii3bSI96Fo9U6j6UN40eoSt9JfIcQeBQ6Y',s:[0x98cf5cf637,0xbe3b0642f0],}})();</script></body>
</html>

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<title>Sparrow</title>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
<link href="style.css" rel="stylesheet" type="text/css"/>
<script async="" src="/cdn-cgi/bm/cv/669835187/api.js"></script></head>
<body>
<div class="banner">
<p class="name">Sparrow</p>
</div>
<ul>
<li>AGE: 1.5 Years Old</li>
<li>WEIGHT: 4.5 lbs</li>
<li>SEX: Female</li>
<li>BREED: African Aquatic Sideneck Turtle</li>
<li>SOURCE: found in Lake Erie</li>
</ul>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'675370508b750fec',m:'0bcc9142f0269f37cd57ad8d85743100ef733c57-1627363438-1800-ATlV6gtcTDHFeXw2OsEhzibAbuK6ghiEwjvr7Zyrm9qJ0A8sCRxSdNuEUQ6ZH14RaUbny1A1uEchuTkaCkcZ/qpCSAV/tTl/l7RI68eYKtKBHq+y/tH2RqPxgUYMgd1mM/5sJZY3oJId7cBSeNrgvAqxuj1UKuI/nt8kwodmjVQK',s:[0x8fbafa4447,0x1a2d5c5e6c],}})();</script></body>
</html>

# Fifth Step
Use dictionary to store the data scraped, and turn it into a pandas dataframe.However, we can see that the table is very messy, so we need to do some cleaning.

In [30]:
    
#Define turtle_data:
turtle_data = {}

#follow each link:
for link in links:
  turtle = parse_html(link)
  turtle_name = turtle.select(".name")[0].get_text()
  stats = turtle.find("ul")
  stats_text = stats.get_text("|")
  turtle_data[turtle_name] = stats_text.split("|")
turtle_df = pd.DataFrame(turtle_data)

In [31]:
turtle_df

                                     Aesop  ...                                 Sparrow
0                                       \n  ...                                      \n
1                         AGE: 7 Years Old  ...                      AGE: 1.5 Years Old
2                                       \n  ...                                      \n
3                            WEIGHT: 6 lbs  ...                         WEIGHT: 4.5 lbs
4                                       \n  ...                                      \n
5                              SEX: Female  ...                             SEX: Female
6                                       \n  ...                                      \n
7   BREED: African Aquatic Sideneck Turtle  ...  BREED: African Aquatic Sideneck Turtle
8                                       \n  ...                                      \n
9               SOURCE: found in Lake Erie  ...              SOURCE: found in Lake Erie
10                                      \n  ...                                      \n

[11 rows x 9 columns]

### Sixth Step

Adopt the following steps to clean the data.
* Drop the row where all of the value is `\n`, as stated in the <font color= "green">#drop na value </font>part
* Next, Define some regular expressions to help us clean the data, and then use the regular expressions
* Finally, Make the `AGE` and `WEIGHT` row to be float to facilitate further computation. I also change the index for `NAME` and `AGE` value to include units for the purpose of decreasing ambuiguity.

In [32]:
import pandas as pd
import re


# drop na value
nan_value = float("NaN")
turtle_df.replace("\n", nan_value, inplace= True)
turtle_df.dropna(subset = ["Aesop"], inplace = True)

# setting row name, define some regular expressions

column_name_regex = re.compile("(\w*):(.*)")
number_regex = re.compile("\d(\.\d)?")
row_name = [column_name_regex.search(element).group(1) for element in list(turtle_df["Aesop"])]


# use regular expressions 
name = list(turtle_df.columns)
for i in range(len(name)):
    turtle_info = [column_name_regex.search(element).group(2) for element in turtle_df.iloc[:,i]]
    turtle_df.iloc[:,i] = turtle_info

# transform the element to list
turtle_df.iloc[0,:] = [float(number_regex.search(element).group()) for element in turtle_df.iloc[0,:].tolist()]
turtle_df.iloc[1, :] = [float(number_regex.search(element).group()) for element in turtle_df.iloc[1,:].tolist()]

row_name_new = ["AGE(year)", "WEIGHT(lbs)", "SEX", "BREED", "SOURCE"]
turtle_df["row"] = row_name_new
turtle_df.set_index("row")

                                        Aesop  ...                           Sparrow
row                                            ...
AGE(year)                                   7  ...                               1.5
WEIGHT(lbs)                                 6  ...                               4.5
SEX                                    Female  ...                            Female
BREED         African Aquatic Sideneck Turtle  ...   African Aquatic Sideneck Turtle
SOURCE                     found in Lake Erie  ...                found in Lake Erie

[5 rows x 9 columns]